<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>tokenTest</title>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script src="/js/bankInfo.js"></script>

</head>
<body>
    <h1>Payment Test Page</h1>
    <p>아임포트로 진행</p>
    
    <button onclick="getAccessToken()">Access Token 받기</button>
    <div id="tokenResponse"></div>
    
    <!-- <script>
    function getAccessToken() {
        fetch('/getAccessToken')
            .then(response => response.text())
            .then(data => {
                document.getElementById('tokenResponse').innerText = data;
            })
            .catch(error => {
                console.error('에러:', error);
                document.getElementById('tokenResponse').innerText = '토큰을 받는 도중 에러 발생';
            });
    }
    </script>  -->
    
      <!-- <button onclick="/checkBankHolder">예금주 조회</button>
     -->
</body>
</html>
