<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script src="/js/payment/payment.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<meta charset="UTF-8">
<title>가상계좌발급 </title>
</head>
<body>
<h3>상품정보</h3>
 <label for="performTitle">공연명:</label>
 
 여기에 상품 정보 , 수량불러와 주세요~~  
 
<div> 
 <p>주문자정보<span>*</span></p>
 <input type="text" id="member_name" th:value="${member.memberName}" readonly="readonly">
</div>
<div>
    <p>연락처<span>*</span></p>
    <input type="text" id="member_phone" th:value="${member.memberPhone}" readonly="readonly">
</div>
<div>
    <p>이메일<span>*</span></p>
    <input type="text" id="member_email" th:value="${member.memberEmail}" readonly="readonly">
</div>
<div>
    <p>우편번호<span>*</span></p>
    <input type="text" id="member_post" th:value="${member.memberPost}" readonly="readonly">
</div>
<div>
    <p>주소<span>*</span></p>
    <input type="text" id="member_address" th:value="${member.memberAddress}" readonly="readonly">
</div>
<div>
    <p>상세주소<span>*</span></p>
    <input type="text" id="member_addressSub" th:value="${member.memberAddressSub}" readonly="readonly">
</div>


<div>
결제 수단 선택

  <form id="paymentForm">
  
  		<input type="radio" name="paymentMethod" value="card" checked> 카드 결제
        <input type="radio" name="paymentMethod" value="vbank"> 가상계좌 결제

    </form>
        <button onclick="requestPay()">결제하기</button>
</div>

</body>





<!-- 나중에 API 다시 재시도 할거임  -->

 <!--        <label for="bankCode">은행 코드:</label>
     	<select id="vbank_code" name="vbank_code"></select>

        <label for="userName">가상계좌 예금주 이름:</label>
        <input type="text" id="userName" name="userName">

        <label for="amount">결제 금액:</label>
        <input type="text" id="amount" name="amount">

        <label for="vbankDue">가상계좌 만료일:</label>
        <input type="hidden" id="vbank_due" name="vbank_due">
 -->


<!-- <script>
    // 은행 코드와 이름 매핑
    const bankCodes = {
    		  '04': 'KB국민은행',
              '23': 'SC제일은행',
              '39': '경남은행',
              '34': '광주은행',
              '03': '기업은행',
              '11': '농협',
              '31': '대구은행',
              '32': '부산은행',
              '02': '산업은행',
              '45': '새마을금고',
              '07': '수협',
              '88': '신한은행',
              '48': '신협',
              '81': '하나(외환)은행',
              '20': '우리은행',
              '71': '우체국',
              '37': '전북은행',
              '12': '축협',
              '90': '카카오뱅크',
              '89': '케이뱅크',
              '27': '한국씨티은행',
              '92': '토스뱅크'
    };

    // select 박스에 옵션 추가
    const vbankCodeSelect = document.getElementById('vbank_code');
    for (const code in bankCodes) {
        const option = document.createElement('option');
        option.value = code;
        option.text = bankCodes[code];
        vbankCodeSelect.add(option);
    }
</script>
 -->

</html>